/*FUENTES A UTILIZAR */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.alegreya-regular {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: normal;
}
.alegreya-regular-italic {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: italic;
}
.alegreya-bold {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: normal;
}
.alegreya-bold-italic {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat-regular-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-bold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.raleway-regular-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.raleway-bold-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-regular-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.dm-sans-bold-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* TABLILLA */
.calizfuego-tab br {
    display: none;
}
 .calizfuego-tab.poppins-cf {
     --fuente1: 'Poppins', sans-serif;
}
 .calizfuego-tab.alegreya-cf {
     --fuente1: "Alegreya", serif;
}
 .calizfuego-tab.montserrat-cf {
     --fuente1: "Montserrat", sans-serif;
}
 .calizfuego-tab.raleway-cf {
     --fuente1: "Raleway", sans-serif;
}
 .calizfuego-tab.dmsans-cf {
     --fuente1: "DM Sans", sans-serif;
}
.calizfuego-tab {
     --calizfuego-lg: linear-gradient(65deg, var(--grupcolor, var(--color1)), var(--calizfuego-var));
     --calizfuego-var: #878787;
     --cfbckg: #000000ab;
     --cfbckg2: #2828289e;
     --cfbckg3: #000;
     --calizborde: #4b4b4b;
}
.calizfuego-tab {
    width: 550px;
     margin: 0 auto;
     background: var(--cfbckg);
     outline: 1px solid var(--calizborde);
     outline-offset: -30px;
     position: relative;
}
 .calizfuego-tab>deco1, .calizfuego-tab>deco2, .calizfuego-tab>deco3, .calizfuego-tab>deco4 {
    display: block;
     position: absolute;
     width: 50px;
     height: 50px;
}
 .calizfuego-tab>deco1 {
    border-right: 1px solid;
     border-bottom: 1px solid;
     border-color: var(--calizborde);
     top: 0;
}
 .calizfuego-tab>deco2 {
    border-left: 1px solid;
     border-bottom: 1px solid;
     border-color: var(--calizborde);
     top: 0;
     right: 0;
}
 .calizfuego-tab>deco3 {
    border-right: 1px solid;
     border-top: 1px solid;
     border-color: var(--calizborde);
     bottom: 0;
}
 .calizfuego-tab>deco4 {
    border-left: 1px solid;
     border-top: 1px solid;
     border-color: var(--calizborde);
     bottom: 0;
     right: 0;
}
 .calizfuego-tab .calizf-titulo {
     width: 65%;
     height: 183px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: 1px solid var(--calizborde);
     border-left: 1px solid var(--calizborde);
     border-right: 1px solid var(--calizborde);
     padding: 5px;
     position: relative;
     top: 30px;
}
.calizfuego-tab .calizf-titulo.cft2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--calizmage);
    background-size: cover;
    filter: grayscale(1);
}
.calizfuego-tab .calizf-titulo.cft2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.calizfuego-tab .calizf-titulo .cf-titulo, .calizfuego-tab .calizf-titulo .cf-titulo>a {
    text-align: center;
    font: 40px/40px 'Pirata One';
    background: var(--calizfuego-lg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2;
}
.calizfuego-tab .calizf-titulo .cf-titulo>span {
    background: var(--textobase);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 400 11px var(--fuente1);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 .calizfuego-tab .calizf-titulo>vrtl {
     display: block;
     position: absolute;
     left: 50%;
     top: 194px;
     width: 1px;
     height: 50px;
     background: var(--calizborde);
}
 .calizfuego-tab .calizf-datos {
     margin: 0 auto;
     margin-top: 80px;
     text-align: center;
     width: fit-content;
     max-width: 75%;
     text-transform: uppercase;
     font: 400 11px var(--fuente1);
     color: var(--textobase);
     background: var(--cfbckg3);
     border: 1px solid var(--calizborde);
     padding: 15px;
     box-sizing: border-box;
     letter-spacing: 1px;
}
 .calizfuego-tab .calizf-texto br {
    display: block;
}
 .calizfuego-tab .calizf-texto {
    padding: 40px 70px 20px;
     text-align: justify;
     font: 400 16px/25px var(--fuente1);
     color: var(--textobase);
     padding-bottom: 60px;
}
 .calizfuego-tab .calizf-texto>b, .calizfuego-tab .calizf-texto>strong, .calizfuego-tab .calizf-texto>i {
    background: var(--calizfuego-lg);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .calizfuego-tab .calizf-texto>u {
    text-decoration: none;
     border-bottom: 3px solid var(--grupcolor, var(--color1));
     font-weight: bold;
     text-transform: uppercase;
     font-size: 13px;
}
.calizfuego-tab .calizf-texto .calizf-datos-dos {
    width: 90%;
     margin: 0 auto;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     background: var(--cfbckg2);
     border-top: 1px solid;
     border-left: 1px solid;
     border-right: 1px solid;
     border-color: var(--calizborde);
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato {
    border-bottom: 1px solid var(--calizborde);
    display: block;
    box-sizing: border-box;
    padding: 10px 12px;
    text-align: right;
    font-size: 11px;
    width: 100%;
    line-height: 14px;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato>strong {
     float: left;
     text-transform: uppercase;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato2 {
     width: 50%;
     border-right: 1px solid;
     border-bottom: 1px solid;
     border-color: var(--calizborde);
     box-sizing: border-box;
     padding: 5px 10px;
     font-family: var(--fuente3);
     font-size: 16px;
     text-align: center;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato2 strong {
    font-family: var(--fuente1);
     text-transform: uppercase;
     font-size: 11px;
     display: block;
     width: 100%;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato2:last-of-type {
    border-right: 0;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos resumen::before {
    content: 'Resumen';
     font-size: 11px;
     text-transform: uppercase;
     font-weight: bold;
     display: block;
     text-align: center;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos dato strong, .calizfuego-tab .calizf-texto .calizf-datos-dos dato2 strong, .calizfuego-tab .calizf-texto .calizf-datos-dos resumen::before, .calizfuego-tab .calizf-datos strong {
    color: var(--grupcolor, var(--color1));
}
.calizfuego-tab .calizf-datos a {
    color: var(--textobase);
    font-weight: bold;
}
.calizfuego-tab .calizf-texto a {
    background: var(--calizfuego-lg); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
 .calizfuego-tab .calizf-texto .calizf-datos-dos resumen {
     width:100%;
     padding: 10px 15px;
     font-size: 13px;
     text-align: justify;
     line-height: 20px;
     border-bottom: 1px solid var(--calizborde);
}
 .calizfuego-tab .calizf-stats {
     border-top: 1px solid var(--calizborde);
     width: 92%;
     margin: 0 auto;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 200px;
     position: relative;
}
 .calizfuego-tab .calizf-stats:before {
    content: 'Estadísticas';
     position: absolute;
     top: -20px;
     background: var(--cfbckg3);
     border: 1px solid var(--calizborde);
     color: var(--grupcolor, var(--color1));
     font:700 11px var(--fuente1);
     padding: 10px;
     text-transform:uppercase;
     letter-spacing: 1px;
}
 .calizfuego-tab .calizf-stats .stat, .calizfuego-tab .calizf-stats .calizf-pvs {
     color: var(--grupcolor, var(--color1));
     font: 700 18px var(--fuente1);
     position: relative;
     display:flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
 .calizfuego-tab .calizf-stats .stat:hover, .calizfuego-tab .calizf-stats .calizf-pvs:hover {
    transform: scale(1.2);
    transition:1s;
}

.calizfuego-tab .calizf-stats .stat, .calizfuego-tab .calizf-stats .calizf-pvs  {
    transform: scale(1);
    transition:1s;
}
 .calizfuego-tab .calizf-stats .stat:before, .calizf-stats .calizf-pvs:before {
     content: '\f21e';
     position: absolute;
     font: 300 35px 'Font Awesome 6 Pro';
     color: #8d8d8d5e;
     z-index:1;
}
 .calizfuego-tab .calizf-stats .calizf-pvs:before {
    font-size: 50px;
    color: var(--grupcolor, var(--color1));
    opacity: .5;
}
 .calizfuego-tab .calizf-stats .stat>num, .calizfuego-tab .calizf-stats .calizf-pvs>num {
    position: relative;
     z-index: 2;
     text-shadow: 1px 0 var(--cfbckg);
}
 .calizfuego-tab .calizf-stats .calizf-pvs>num {
    font-size: 28px;
     color: var(--textobase);
}
 .calizfuego-tab .calizf-stats .stat.st-mag:before {
    content: '\f72b';
}
 .calizfuego-tab .calizf-stats .stat.st-int:before {
    content: '\f808';
}
 .calizfuego-tab .calizf-stats .stat.st-fisc:before {
    content: '\f6de';
}
 .calizfuego-tab .calizf-stats .stat.st-soc:before {
    content: '\f758';
}

/* Modificaciones según tipografías distintas */

.calizfuego-tab.alegreya-cf .calizf-titulo .cf-titulo>span,
.calizfuego-tab.alegreya-cf .calizf-texto .calizf-datos-dos dato, .calizfuego-tab.alegreya-cf .calizf-texto .calizf-datos-dos dato2>strong {
font-size: 14px;
}
.calizfuego-tab.alegreya-cf .calizf-datos,
.calizfuego-tab.alegreya-cf .calizf-texto .calizf-datos-dos resumen:before,
.calizfuego-tab.alegreya-cf .calizf-stats:before {
 font-size: 13px;
}
.calizfuego-tab.alegreya-cf .calizf-texto {
font: 400 18px/26px var(--fuente1);
}
.calizfuego-tab.alegreya-cf .calizf-texto .calizf-datos-dos resumen {
 font-size: 15px;
}
.calizfuego-tab.alegreya-cf .calizf-stats .stat, .calizfuego-tab .calizf-stats .calizf-pvs {
font-size: 25px;
}
.calizfuego-tab.alegreya-cf .calizf-stats .calizf-pvs>num {
font-size: 35px;
}
.calizfuego-tab.poppins-cf .calizf-texto,
.calizfuego-tab.montserrat-cf .calizf-texto,
.calizfuego-tab.raleway-cf .calizf-texto {
font: 400 15px/26px var(--fuente1);
 }
.calizfuego-tab.poppins-cf .calizf-texto .calizf-datos-dos dato,
.calizfuego-tab.poppins-cf .calizf-texto .calizf-datos-dos dato2>strong,
.calizfuego-tab.montserrat-cf .calizf-texto .calizf-datos-dos dato,
.calizfuego-tab.montserrat-cf .calizf-texto .calizf-datos-dos dato2>strong,
.calizfuego-tab.raleway-cf .calizf-texto .calizf-datos-dos dato,
.calizfuego-tab.raleway-cf .calizf-texto .calizf-datos-dos dato2>strong {
font-size: 13px;
}
.calizfuego-tab.poppins-cf .calizf-texto .calizf-datos-dos resumen,
.calizfuego-tab.montserrat-cf .calizf-texto .calizf-datos-dos resumen,
.calizfuego-tab.raleway-cf .calizf-texto .calizf-datos-dos resumen {
font-size: 12px;
}
.calizfuego-tab.dmsans-cf .calizf-texto {
 font: 400 13px/24px var(--fuente1);
}